# Ignore node_modules in ui
ui/node_modules/
# =============================================================================
# STRICT WHITELIST MODE
# =============================================================================

# Ignore everything by default
*

# Unignore gitignore itself
!.gitignore

# Ignore vendor and node_modules in all locations
vendor/
node_modules/
**/vendor/
**/node_modules/

# Unignore specific directories and all subfolders/files
!api/
!api/**
!ui/
!ui/**


# Ignore build output in ui
ui/.output/

# Explicitly ignore storage
api/nuxnanravel/storage/
