textarea[data-v-c73ec6f1]::-webkit-scrollbar{width:8px}textarea[data-v-c73ec6f1]::-webkit-scrollbar-track{background:transparent}textarea[data-v-c73ec6f1]::-webkit-scrollbar-thumb{background-color:#cbd5e1;border-radius:20px}
