@keyframes scan-0c6bd89b{0%{transform:translateY(0)}50%{transform:translateY(calc(100% - 4px))}to{transform:translateY(0)}}.animate-scan[data-v-0c6bd89b]{animation:scan-0c6bd89b 2s ease-in-out infinite}
