NUXT_PUBLIC_API_BASE=http://localhost:8000
NUXT_PUBLIC_SITE_URL=http://localhost:3000
NUXT_PUBLIC_REVERB_ENABLED=false
NUXT_PUBLIC_REVERB_APP_KEY=
NUXT_PUBLIC_REVERB_HOST=
NUXT_PUBLIC_REVERB_PORT=8080
NUXT_PUBLIC_REVERB_SCHEME=http
